
hola xd
<br>
  <% @today = Time.zone.now%>
  <h3>Today: <%= @today.strftime('%d %A %b')%></h3>
<div class="container calendar-tasks">
  <ul id="tasks-lists">
    <li id="task-id">
      <div class="row">
      <div class="col-1">
        <a >
          Inicio
        </a>
      </div>
      <div class="col-1">
        <a >
          Fin
        </a>
      </div>
      <div class="col-1">
        <a >
          Terminar
        </a>
      </div>
      <div class="col-1">
        <a >
          Importancia
        </a>
      </div>
      <div class="col-3">
        <span> Titulo</span>
      </div>
      <div class="col-3 d-flex justify-content-center">
        Etiquetas
      </div>
      <div class="col-2">

        <span>Editar/Eliminar</span>
      </div>
      </div>
    </li>
    <%7.times do%>
      <p><%= @today.strftime('%d %A %b')%></p>
      <% @tasks.each do |task|%>
       <% if task.start_date <=@today &&  task.end_date >= @today%>
        <li id="task-<%=task.id%>" class="task-iterated">
    <div class="row">
     <div class="col-1 text-date ">
      <span> <%=task.start_date.to_s.to_date%> </span>
     </div>
     <div class="col-1 text-date">
      <span> <%=task.end_date.to_s.to_date %> </span>
     </div>
     <div class="col-1 mark-complete d-flex justify-content-center">
      <%= link_to  task_complete_path(task_id: task.id),remote: true,method: :put, data: { confirm: "¿Estas seguro de Completar la Tarea:a: #{task.title}?"} do %>
                  <i class="fa-solid fa-check" data-complete-task="<%=task.id%>"></i>
                <% end %>
     </div>
     <div class="col-1 importance d-flex justify-content-center">
      <span> <%=task.importance%> </span>
    </div>
     <div class="col-3">
      <span> <%= task.title%> </span>
     </div>
     <div class="col-3 col-de-etiquetas" style="font-size:10px; font-weigth:700;">
       <div class="row">
        <div class="col-3" style="background-color:<%=task.labelleds.first.tag.present? ? task.labelleds.first.tag.color : "gray"%>; height:16px">
          <%# Refactorizar1 %>
          <%if task.labelleds.first.tag_id.present? && task.labelleds.first.tag.title.present? %>
            <%= link_to "#{task.labelleds.first.tag.title} ",tasks_path(tag_id: task.labelleds.first.tag.id ) %>
          <% else %>
            -
          <% end %>
        </div>
        <div class="col-3" style="background-color:<%=task.labelleds.second.tag.present? ? task.labelleds.second.tag.color : "gray"%>; height:16px">
          <%if task.labelleds.second.tag_id.present?%>
            <%= link_to "#{task.labelleds.second.tag.title} ",tasks_path(tag_id: task.labelleds.first.tag.id ) %>
          <% else %>
            -
          <% end %>
        </div>
        <div class="col-3" style="background-color:<%=task.labelleds.third.tag.present? ? task.labelleds.third.tag.color : "gray"%>; height:16px">
          <%if task.labelleds.third.tag_id.present?%>
            <%= link_to "#{task.labelleds.third.tag.title} ",tasks_path(tag_id: task.labelleds.first.tag.id ) %>
          <% else %>
            -
          <% end %>
        </div>
        <div class="col-3">
          <% label = task.labelleds.third%>
            <%= link_to  edit_labelleds_path(task_id: task.id), html_options = {class: "btn  btn-xs", remote: true, style: "color: black"} do %>
                  <i class="fa-solid fa-tags" data-task="<%=task.id%>" ></i>
                <% end %>
        </div>
       </div>
     </div>
     <div class="col-2">
      <%= link_to edit_task_path(task), html_options = {class: "btn  btn-xs", remote: true, style: "color: black"} do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
      <%= link_to task, remote: true, method: :delete, data: { confirm: "¿Estas segurode borrar la Tarea: #{task.title}?"}, class: "btn btn-xs"  do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
     </div>

    </div>
  </li>
       <% end %>
      <%end%>
    <% @today=@today +1.day %>
    <% end%>
  </ul>
</div>
