<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="left" >
      <button class="btn  d-none d-md-inline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"> <i class="fa-solid fa-bars"></i> </button>
      <%# menude sm a menos %>
      <button class="btn  d-sm-block d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <i class="fa-solid fa-bars"></i> </button>
      <%= link_to "#", class: "navbar-brand" do %>
        <i class="fa-solid fa-house-chimney"></i>
      <% end %>
      <% if current_user.present? %>

      <button>hola  <%=current_user.email.first(5)%> </button>
      <% end %>
    </div>
    <div class="rigth">

      <%= link_to  new_task_path ,{remote: true, class: "btn btn-add-task", id: "anadir-categoria-btn"} do %>
       Crear Tarea <i class="fa-solid fa-plus"></i>
      <% end %>
      <%= image_tag "https://www.vhv.rs/dpng/d/436-4363443_view-user-icon-png-font-awesome-user-circle.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="dropdown-menu">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
      <div>

      </div>
    </div>
  </div>
</div>
